---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('my-6 divide-y-2 rounded-lg border-2', className)}>
  <slot />
</div>
