---
import { ScrollArea } from '@/components/ui/scroll-area'
---

<div class="table-wrapper">
  <ScrollArea
    client:idle
    className="w-full"
    fades
    fadeOrientation="horizontal"
    scrollbars="horizontal"
  >
    <slot />
  </ScrollArea>
</div>
