---
import { cn } from '@/lib/utils'

interface Props {
  href: string
  external?: boolean
  class?: string
  underline?: boolean
  [key: string]: unknown
}

const { href, external, class: className, underline, ...rest } = Astro.props
const target = external ? '_blank' : undefined
const rel = external ? 'noreferrer noopener' : undefined
---

<a
  href={href}
  target={target}
  rel={rel}
  class={cn(
    underline &&
      'underline decoration-muted-foreground underline-offset-[3px] hover:decoration-foreground',
    className,
  )}
  {...rest}
>
  <slot />
</a>
